body {
  margin: 0;
  line-height: normal;
}
.bat-2-icon,
.imagini6 {
  position: absolute;
  bottom: 0;
}
.bat-2-icon {
  height: 100%;
  width: 100%;
  top: 0;
  right: -7.06%;
  left: 7.06%;
  border-radius: var(--br-2xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.imagini6 {
  height: 99.81%;
  width: 30.49%;
  top: 0.19%;
  right: 71.67%;
  left: -2.15%;
  filter: blur(60px);
}
.text3,
.the-bad-guys {
  position: absolute;
  width: 648.74px;
  height: 133px;
}
.the-bad-guys {
  top: 0;
  left: 0;
  display: inline-block;
}
.text3 {
  top: 36px;
  left: 359px;
  font-size: var(--font-size-2xl);
}
.bat-2-icon1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-2xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.imagini7 {
  position: absolute;
  height: 58.43%;
  width: 20.28%;
  top: 20.46%;
  right: 75.07%;
  bottom: 21.11%;
  left: 4.65%;
}
.genre-animation-adventure,
.several-reformed-yet {
  position: absolute;
  left: 28.33%;
  display: inline-block;
}
.several-reformed-yet {
  height: 8.98%;
  width: 71.67%;
  top: 61.57%;
  font-size: var(--font-size-2xs);
}
.genre-animation-adventure {
  width: 50.07%;
  top: 18.43%;
}
.director-pierre-perifel,
.stars-sam-rockwell,
.writers-aaron-blabey {
  position: absolute;
  width: 33.54%;
  top: 25.46%;
  left: 28.33%;
  display: inline-block;
}
.stars-sam-rockwell,
.writers-aaron-blabey {
  width: 61.32%;
  top: 32.5%;
}
.stars-sam-rockwell {
  width: 56.25%;
  top: 39.54%;
}
.bad-guys-child {
  height: 11.57%;
  width: 11.94%;
  top: 78.89%;
  right: 29.86%;
  bottom: 9.54%;
  left: 58.19%;
  border-radius: var(--br-xl);
  background-color: var(--color-black);
  border: 6px solid var(--color-white);
}
.bad-guys-child,
.bad-guys-inner,
.bad-guys-item {
  position: absolute;
  box-sizing: border-box;
}
.bad-guys-item {
  height: 6.2%;
  width: 11.18%;
  top: 82.22%;
  right: 57.29%;
  bottom: 11.57%;
  left: 31.53%;
  border-radius: var(--br-lg);
  background-color: var(--color-black);
  border: 4.3px solid var(--color-white);
}
.bad-guys-inner {
  height: 6.6%;
  width: 0.3%;
  top: 82.02%;
  right: 62.77%;
  bottom: 11.37%;
  left: 36.93%;
  border-right: 4.3px solid var(--color-white);
}
.like-icon6,
.like-icon7 {
  position: absolute;
  height: 4.34%;
  width: 3.36%;
  top: 82.89%;
  right: 63.76%;
  bottom: 12.77%;
  left: 32.89%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.like-icon7 {
  top: 83.42%;
  right: 58.74%;
  bottom: 12.24%;
  left: 37.9%;
}
.bookmark-icon3,
.play-icon3 {
  position: absolute;
  top: 882px;
  left: 1711px;
  width: 65px;
  height: 65px;
}
.play-icon3 {
  height: 6.02%;
  width: 4.58%;
  top: 81.76%;
  right: 33.54%;
  bottom: 12.22%;
  left: 61.88%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.arrow-icon3 {
  position: absolute;
  top: 26px;
  left: 1812px;
  width: 65px;
  height: 65px;
}
.h-40min {
  position: absolute;
  width: 9.58%;
  top: 93.15%;
  left: 59.44%;
  font-size: var(--font-size-sm);
  display: inline-block;
}
.arrow-icon4,
.bookmark-icon4 {
  position: absolute;
  height: 6.02%;
  width: 4.24%;
  top: 84.63%;
  right: 8.26%;
  bottom: 9.35%;
  left: 87.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.arrow-icon4 {
  width: 4.31%;
  top: 2.13%;
  right: 2.5%;
  bottom: 91.85%;
  left: 93.19%;
}
.bad-guys {
  position: relative;
  background-color: var(--color-black);
  width: 1440px;
  height: 1080px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-k2d);
}
