body {
  margin: 0;
  line-height: normal;
}
.group-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-black);
}
.contact-us,
.personal-account {
  position: absolute;
  height: 4.26%;
  width: 49.5%;
  top: 19.44%;
  left: 16.5%;
  display: inline-block;
}
.contact-us {
  height: 3.61%;
  width: 35%;
  top: 70.37%;
  left: 14.83%;
}
.mail-icon {
  position: absolute;
  height: 6.02%;
  width: 10.83%;
  top: 69.72%;
  right: 83.5%;
  bottom: 24.26%;
  left: 5.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.disconnect1,
.line-icon3 {
  position: absolute;
  top: 83.52%;
  cursor: pointer;
}
.disconnect1 {
  height: 4.26%;
  width: 38.67%;
  left: 6.67%;
  display: inline-block;
}
.line-icon3 {
  height: 4.63%;
  width: 5%;
  right: 88.83%;
  bottom: 11.85%;
  left: 6.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.about-us {
  position: absolute;
  height: 4.26%;
  width: 28.33%;
  top: 57.5%;
  left: 15.5%;
  display: inline-block;
}
.info-icon {
  position: absolute;
  height: 6.02%;
  width: 10.83%;
  top: 56.85%;
  right: 83.5%;
  bottom: 37.13%;
  left: 5.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.saved1 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.saved {
  position: absolute;
  height: 4.26%;
  width: 28.83%;
  top: 44.91%;
  left: 11.33%;
  display: inline-block;
}
.bookmark-icon9 {
  position: absolute;
  height: 6.02%;
  width: 10.83%;
  top: 43.98%;
  right: 83.5%;
  bottom: 50%;
  left: 5.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.settings-prefferences {
  position: absolute;
  height: 9.44%;
  width: 96%;
  top: 31.76%;
  left: 2.17%;
  display: inline-block;
}
.menu-icon,
.settings-icon,
.user-icon {
  position: absolute;
  height: 6.02%;
  width: 10.83%;
  top: 31.11%;
  right: 83.5%;
  bottom: 62.87%;
  left: 5.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.menu-icon,
.user-icon {
  top: 18.24%;
  bottom: 75.74%;
}
.menu-icon {
  top: 5.37%;
  right: 82.5%;
  bottom: 88.61%;
  left: 6.67%;
}
.rectangle-parent {
  position: absolute;
  height: 100%;
  width: 95.54%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 4.46%;
}
.menu {
  position: relative;
  width: 628px;
  height: 1080px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-blue);
  font-family: var(--font-k2d);
}
