body {
  margin: 0;
  line-height: normal;
}
.imagini10,
.north-1-icon {
  position: absolute;
  bottom: 0;
  left: 0;
}
.north-1-icon {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  border-radius: var(--br-2xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.imagini10 {
  height: 99.81%;
  width: 32.15%;
  top: 0.19%;
  right: 67.85%;
  filter: blur(60px);
}
.the-northman-2022 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: inline-block;
}
.text5 {
  position: absolute;
  height: 4.44%;
  width: 34.15%;
  top: 0.19%;
  right: 33.7%;
  bottom: 95.37%;
  left: 32.15%;
  font-size: var(--font-size-2xl);
}
.imagini11 {
  position: absolute;
  height: 58.43%;
  width: 21.77%;
  top: 18.98%;
  right: 73.02%;
  bottom: 22.59%;
  left: 5.21%;
}
.from-visionary-director {
  position: absolute;
  height: 8.06%;
  width: 63.61%;
  top: 58.98%;
  left: 32.99%;
  font-size: var(--font-size-2xs);
  display: inline-block;
}
.genre-action-adventure3 {
  position: absolute;
  width: 42.22%;
  top: 18.43%;
  left: 32.15%;
  display: inline-block;
}
.director-robert-eggers,
.stars-alexander-skarsgard,
.writers-sjon-robert {
  position: absolute;
  width: 32.64%;
  top: 25.46%;
  left: 32.15%;
  display: inline-block;
}
.stars-alexander-skarsgard,
.writers-sjon-robert {
  width: 38.26%;
  top: 32.5%;
}
.stars-alexander-skarsgard {
  height: 12.41%;
  width: 56.88%;
  top: 39.54%;
}
.northman-child {
  height: 11.57%;
  width: 10.97%;
  top: 78.89%;
  right: 29.58%;
  bottom: 9.54%;
  left: 59.44%;
  border-radius: var(--br-xl);
  background-color: var(--color-black);
  border: 6px solid var(--color-white);
}
.northman-child,
.northman-inner,
.northman-item {
  position: absolute;
  box-sizing: border-box;
}
.northman-item {
  height: 6.2%;
  width: 10.21%;
  top: 82.22%;
  right: 54.72%;
  bottom: 11.57%;
  left: 35.07%;
  border-radius: var(--br-lg);
  background-color: var(--color-black);
  border: 4.3px solid var(--color-white);
}
.northman-inner {
  height: 6.6%;
  width: 0.3%;
  top: 82.02%;
  right: 59.71%;
  bottom: 11.37%;
  left: 39.99%;
  border-right: 4.3px solid var(--color-white);
}
.arrow-icon6,
.bookmark-icon6,
.like-icon10,
.like-icon11,
.play-icon5 {
  position: absolute;
  height: 4.34%;
  width: 3.08%;
  top: 82.89%;
  right: 60.6%;
  bottom: 12.77%;
  left: 36.32%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.arrow-icon6,
.bookmark-icon6,
.like-icon11,
.play-icon5 {
  top: 83.42%;
  right: 56.02%;
  bottom: 12.24%;
  left: 40.91%;
}
.arrow-icon6,
.bookmark-icon6,
.play-icon5 {
  height: 6.02%;
  width: 4.24%;
  top: 81.67%;
  right: 8.89%;
  bottom: 12.31%;
  left: 86.88%;
}
.arrow-icon6,
.play-icon5 {
  top: 81.76%;
  right: 32.92%;
  bottom: 12.22%;
  left: 62.85%;
}
.arrow-icon6 {
  width: 4.31%;
  top: 2.41%;
  right: 2.22%;
  bottom: 91.57%;
  left: 93.47%;
}
.h-17min {
  position: absolute;
  width: 8.54%;
  top: 92.22%;
  left: 60.14%;
  font-size: var(--font-size-sm);
  display: inline-block;
}
.northman {
  position: relative;
  background-color: var(--color-black);
  width: 1440px;
  height: 1080px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-k2d);
}
